table.table-layout tr {
	vertical-align: top;
}
div.custom-page-block {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}
div.custom-page-block div.header {
	background-color: #52AAD7;
    padding: 7px 15px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #dedede;
    font-size: 1.1em;
    color: #fff;
}
div.custom-page-block div.header h2{
	font-size: 1.083em;
}
div.custom-page-block div.content-block {
	background-color: #fff;
	border:1px solid #e0e3e5;
	border-top:0 none;
}
div#has-products-block {
	padding: 3px 5px;
}
div#has-products-block div.button-container span {
	position: relative;
	float: right;
	top: 10px;
	right: 10px;
}
/*.btn.btn-blue {
    margin-top: 7px;
    margin-right: 4px;
    border-radius: 2px;
    padding: 5px 2px;
}*/
.btn-search:hover {
	background: #5FBFEF;
}
.searchBtn:active {
	background: #52AAD7;
}
div#selected-product-wrapper div {
    background-color: rgba(233, 233, 236, 1);
    padding: 6px 10px;
    margin: 2px 2px;
    border-radius: 1px;
    position: relative;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 4px;
}        
div#selected-product-wrapper div span.remove {
    position: absolute;
    top: 1px;
    right: 4px;
    padding: 1px 5px;
    border-radius: 17px;
    color: rgba(1, 91, 167, 0.56);
    cursor: pointer;
    font-size: 1.7em;
    font-weight: bold;
}
div#selected-product-wrapper div:hover {
    background-color: rgba(194, 194, 195, 0.36);
}
div#selected-product-wrapper div:hover span.remove {
	color: #DD6E6E;
}
div#no-products-block {
	padding: 10px;
}
input.search-input {
	width: 30%;
	height: 20px;
	padding: 3px 10px 3px 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 1px 1px 3px #f2f2f2;
}
.btn-search {
	background-color: #52AAD7;
	display: inline-block;
	padding: 6px 9px;
	position: absolute;
	border-radius: 0 3px 3px 0;
    margin-left: -4px;
}
.pdf-language-block {
	display: inline-block;
	margin-left: 58px;
	width: 240px;
}
.select-list-input {
	height: 28px;	
	margin-left: 6px;
	padding: 3px 0px 3px 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 1px 1px 3px #f2f2f2;
}
div.custom_message {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	background-color: #ffc;
	border-style: solid;
	border-width: 1px;
	color: #000;
	padding: 6px 8px 6px 6px;
}
/* CSS for processing dialog - Start */
div.loading-overlay {
	background-color: rgba(0,0,0,.5);
	text-align: center;
	color: #fff;
	width: 100%;
	height: 100%;	
	position: absolute;
	top:0;
	left:0;	
	z-index:999;
}
.loading-dialog-block {
	background-color: #fff;	
	text-align: center;
	color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999; 
}
img.loading-img {
	position: absolute;
	top: 15%;
	left: 50%;
	background-color: #fff;
	color: #333;
	border-radius: 4px;
	margin-left: -99px;
	padding: 6px 24px;
	box-shadow: 0px 0px 5px #686565;
} /* CSS for processing dialog - End */
span[Id$="product-search-result-block"] {
	display: block;
	overflow: auto;
	border: 1px solid #e0e3e5;
	border-radius: 2px
}
div#product-search-block {
    margin-bottom: 10px;
}
div.right-panel {
    position: relative;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #e0e3e5;
}
.slds-text-heading--label {
    color: #54698d;
    font-size: 0.75rem;
    letter-spacing: 0.0625em;
    line-height: 1.25;
    text-transform: uppercase;
}
.ui-state-highlight { 
    height: 1.5em; 	
    line-height: 1.2em;
    background-color: red;
}
.btn-search {
    background-color: #52AAD7;
    display: inline-block;
    padding: 6px 9px;
    position: absolute;
    border-radius: 0 3px 3px 0;
    margin-left: -4px;
}
.btn-search:hover {
    background: #5FBFEF;
}
body{ background: #fff url(/img/alohaSkin/lookup_bg.png) repeat-x; padding: 0;}
.loadingBg {
    position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:99;}
.loadingImg{   position: relative;
    top: 3px;
    margin-right: 5px;
}
table.list tr.headerRow th { background: #f2f3f3; border-width: 0 0 1px 1px;  border-color: #e0e3e5;  color: #000; font-size: .9em; font-weight: bold; padding: 5px 2px 4px 5px;}
.loadingWrap{ position:absolute; left:50%; top:50%; width:160px; height:60px; font-weight:bold; background:#fff; z-index:999; -webkit-border-radius:5px; border-radius:5px; margin-left:-80px; margin-top:-30px; text-align:center; line-height:60px;}
.apexp {margin: 25px !important;}

.dataTable  tr.dataRow.last>td{border-bottom-width:1px;}
.dataTable tbody tr:nth-child(even) td{background:#f2f2f2;}