.icefEventsWrap { position: relative; padding: 40px 10px; min-height: 200px; max-width: 100%; }
.icefEvents .topicNameDiv { padding: 10px; cursor: pointer; font-size: 14px; }
.icefEvents ul { padding: 0 0 0 14px; }
.icefEvents ul.mainUl li ul { display: none;  }
.icefEvents ul, .icefEvents li { list-style: none; margin: 0;  }
.icefEvents ul.studyProgrammes .mainTopic { background-color: #AEA8D3; color: #fff; } 
.icefEvents ul.secondaryHighSchoolProg .mainTopic { background-color: #6BB9F0; color: #fff; } 
.icefEvents ul.languageCourses .mainTopic { background-color: #E08283; color: #fff; } 
.icefEvents ul.addProgrammesServices .mainTopic { background-color: #91B496; color: #fff; } 
.icefEvents ul.mainUl > li .mainTopic { margin-bottom: 7px;  }
.icefEvents i.arrow { border: solid #fff; border-width: 0 3px 3px 0; display: inline-block; padding: 3px; margin-right: 7px; } 
.icefEvents .arrow.up { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); } 
.icefEvents .arrow.down { transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.icefEvents span.topicCount { float: right; margin-right: 250px; display: inline-block;}
.icefEvents .topicName { display: inline-block; max-width: 700px;  }
/* Loader CSS */
.loaderWrap { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.8); color: black; border-radius: 4px; cursor: not-allowed; z-index: 50; } 
.loaderWrap .status-icon-wrapper { display: flex; align-items: center; justify-content: center; height: 100%; } 
.loaderWrap.hidden { display: none!important; visibility: hidden!important; } 
.loader { border: 8px solid #f3f3f3; border-radius: 50%; border-top: 8px solid #3498db; width: 50px; height: 50px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; } 
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } } 
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
/* Meida Queries */
@media screen and (max-width: 1250px) {
    .icefEvents span.topicCount { margin-right: 0px; }
}
@media screen and (max-width: 990px) {
	.icefEvents .topicName { max-width: 700px;  }
}
@media screen and (max-width: 767px) {
    .icefEvents span.topicCount { margin-right: 0px; }
    .icefEvents .topicNameDiv { font-size: 12px; }
    .icefEvents .topicName { max-width: 400px;  }
}
@media screen and (max-width: 487px) {
	.icefEvents .topicName { max-width: 250px;  }
}
@media screen and (max-width: 360px) {
	.icefEvents .topicName { max-width: 200px;  }
}