<apex:component >

    <apex:attribute name="title" description="This is the title of the component" type="String" required="true"/>
    <apex:attribute name="count" description="This is the count of the component" type="String" required="true"/>
    <apex:attribute name="color" description="Color to set as background" type="String" required="true"/>
    <apex:attribute name="alist" description="a list" type="List" required="false"/>
    <apex:attribute name="divid" description="sec id" type="String" required="true"/>
    
    <div id = "div_{!divid}" style="background-color: {!color}" class = "header pbSubheader"><img id="img_{!divid}" 
        src="/s.gif" alt="Show Section" class="showListButton" onclick="toggle('{!divid}', 'img_{!divid}');"
        style="cursor:pointer;" /><h3>{!title}</h3>
            <div id = "count_{!divid}" class = "count">
                <h3>{!count}</h3>
            </div>
    </div>
    <div id = "{!divid}" class = "testClass">
        <apex:componentBody />
    </div>
</apex:component>