<!--------------------------------------------------------------------------------------------
    Purpose : Used to select mail template for accommodation confirmation mail              
---------------------------------------------------------------------------------------------->

<apex:page controller="mailTemplateForAccommodationConfrnCntlr" action="{!showSelectedFoldertemplates}" lightningStylesheets="true" >
  <apex:form >
      <apex:actionFunction name="showSelectedFoldertemplatesAction" action="{!showSelectedFoldertemplates}" />
      
      <apex:sectionHeader title="Select Template"/>
          <apex:pageBlock >
              <apex:pageBlockButtons location="both">
                  <apex:commandButton value="Cancel" action="{!cancel}"/>
              </apex:pageBlockButtons>
              <apex:pageBlockSection title="Select Email Template Folder" collapsible="false" columns="1">
                  <apex:pageBlockSectionItem >
                      <apex:outputLabel value="Folder"></apex:outputLabel> 
                      <apex:selectList size="1" value="{!selectedOption}" multiselect="false" onchange="showemailtemp();">
                      <apex:selectoptions value="{!items}"></apex:selectoptions>     
                      </apex:selectList>                   
                  </apex:pageBlockSectionItem>
              </apex:pageBlockSection>
              <apex:pageBlockSection ><br></br><br></br></apex:pageBlockSection>
              <div id = "emailtemplates">
              <apex:pageBlockTable value="{!allurl}" var="e">
                    <apex:column >
                    <apex:facet name="header">Name</apex:facet>
                    <apex:outputLink value="{!e.emailtempUrl}"><apex:outputPanel >{!e.obj.Name}</apex:outputPanel></apex:outputLink>
                    </apex:column>
                    
                    <apex:column >
                    <apex:facet name="header">Type</apex:facet>
                    <apex:outputPanel >{!e.obj.TemplateType}</apex:outputPanel>
                    </apex:column>
                    
                    <apex:column >
                    <apex:facet name="header">Description</apex:facet>
                    <apex:outputPanel >{!e.obj.Description}</apex:outputPanel>
                    </apex:column>
                    
                    <!--<apex:column >
                    <apex:facet name="header">Available For Use</apex:facet>
                    <apex:outputPanel >{!e.obj.IsActive}</apex:outputPanel>
                    </apex:column> -->
                    
              </apex:pageBlockTable>
            </div>
          </apex:pageBlock>
    </apex:form> 
    <script>
        function showemailtemp()
        {
            showSelectedFoldertemplatesAction();          
            return true;
        }   
    </script>
</apex:page>