<apex:page showHeader="false" title="{!$Label.site.site_under_construction}" lightningstylesheets="true">
  <apex:composition template="StdExceptionTemplate">
    <apex:define name="icon">
      <apex:image url="{!$Site.Prefix}{!$Label.site.img_path}/tools.gif"/>
    </apex:define>
    <apex:define name="error">
      <apex:outputText escape="false" style="font-size: larger; font-weight: bold;" value="{!$Label.site.under_construction}">
        <apex:param value="{!$Site.CurrentSiteUrl}"/>
	  </apex:outputText>
      <br/>
      <br/>
      <apex:outputText value="{!$Label.site.stay_tuned}"/>
      <apex:outputText escape="false" value=" {!$Label.site.get_in_touch}">
      <apex:param value="mailto:{!$Site.AdminEmailAddress}"/>
      <apex:param value="{!$Label.site.email_us}"/>
    </apex:outputText>
   </apex:define>
  </apex:composition>
</apex:page>