        <style>
        a{text-decoration: inherit;color:inherit;}
        :focus{outline:none;}
        *{font-family: 'Poppins', sans-serif;font-size:14px;margin:0px;padding:0px;box-sizing:border-box;}
        .auctionTblwrap{width:100% margin:0 auto;padding:40px;}
        .auctionTable{overflow: hidden;width:100%;border:1px solid #ccc;border-radius:5px;border-bottom:none;}
        .auctionTable th{font-size:15px;color:#000;background:#ededed;padding:5px 10px 5px 5px;font-weight:500;border:none !important;text-align:left;}
        .auctionTable td{color:#303030;padding:7px 8px;font-weight:normal;border-bottom:1px solid #ccc;}
        .auctionTable td input{border-radius:4px; border:1px solid #ccc;padding:4px 8px;}
        .auctionTable tr:hover{background:#fffbfb;}
        .auctionTable td input:focus{box-shadow:0px 2px 4px #ccc;}
        .buttonStyle{ color: #fff; border: medium none; border-radius: 4px; padding: 8px 22px; font-size: 13px; margin-right: 8px; border:1px solid #176bb2; }
        .buttonStyle:hover, .buttonStyle:focus{background:#075ca4;cursor:pointer;transition: all 0.2s;}
        button.buttonStyle:disabled { cursor: unset; background: #f5f5f5 !important; border-color: #ccc !important; color: #9c9a9a !important; }
        .btn-brand{background: #176bb2;}
        .btn-default{background:#fff;color:#176bb2;}
        .btn-default:hover, .btn-default:focus{background:#f4f6f9;color:#176bb2;}
        .pagination li.active { background: #246cb0; color: #fff; transition: all 0.2s; border: 1px solid #0478bb; }
        .page-heading { width: 100%; text-align: center; padding: 22px 0px; box-shadow: 0px 0px 5px #868686; position: fixed; z-index: 99; top: 0; background: #3c85c5; color: #fff; }
        .page-heading h2{font-size:18px;font-weight:normal;text-transform: uppercase;}
        .btnAlign{width:100%;display:flex;align-items:center;justify-content: center; margin: 20px 0px;}
        .auctionTable input[type="checkbox"]{cursor:pointer;background-color: #fff !important; outline: none; width: 20px; height: 20px; -webkit-appearance: none; -moz-appearance: none; appearance: none;border: 1px solid #ccc;position:relative;}
        .auctionTable input[type="checkbox"]:before{display:none;content: ''; width: 11px; height: 5px; border: none; -webkit-appearance: listbox; border-left: 2px solid #0a71d6; border-bottom: 2px solid #0a71d6; transform: rotate(-45deg); position: absolute; top: 0; left: 0; margin-top: 3px; margin-left: 3px;}
        .auctionTable input[type="checkbox"]:checked:before{display:block;}
        .pagination{list-style-type: none; display: flex; align-items: center; justify-content: center;margin-top:20px;}
        .pagination li a{font-size:20px;padding:10px 12px;color: inherit; text-decoration: inherit;}
        .pagination li:hover{background:#246cb0;color:#fff;transition: all 0.2s;border:1px solid #0478bb;}
        .pagination li{border: 1px solid rgba(255,255,255,0); border-radius: 50%; margin: 0px 5px; padding: 0px 1px 2px;}
        .pagination li:first-child, .pagination li:last-child{border-radius:5px;border: 1px solid #ccc; margin: 0px 10px;}
        .disabled{background: #f5f5f5 !important; color: #adabab !important;}
        .disabled a{cursor: unset;}
        
        .serchSection{margin-bottom:10px;}
        .serchSection input{border-radius:4px;border:1px solid #ccc;padding:4px 8px;}
        .serchSection input:focus{box-shadow:0px 2px 4px #ccc;}
        .ng-table-pager.ng-scope {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin:8px 0px;
        }
        .ng-table-counts
        {
            background: #fff;
            border-radius: 4px;
            border: 1px solid #256bb0;
            overflow: hidden;
        }
        .ng-table-counts button {
            border: 0;
            padding: 5px 10px;
            border-right: 1px solid #256bb0;
        }
        .ng-table-counts button:hover, .ng-table-counts button:focus {background:#256bb0;color:#fff;cursor:pointer;}
        .ng-table-counts button.active {background:#256bb0;color:#fff;}
        .auctionTblwrap {margin-top:70px;}
        .ng-table-counts button:last-child{border-right:none;}
        
        
        #toast-container>div{opacity:1 !important;}
        .toast-warning{background-color:#f5a81c !important;}
        
        
        @media only screen and (max-width:980px)
            {
            .auctionTblwrap{max-width:auto;width:100%;margin: 0 auto;padding: 20px;}
            .auctionTable th{display:none;}
            .auctionTable td{display:-webkit-box;font-weight:400;}
            .auctionTable td:before{content: attr(data-label);font-weight:300;margin-right:10px;vertical-align: top;}
            .auctionTable td:nth-child(even){background:#f8f8f8;}
        }
        
        @media (max-width:767px)
            {
            .ng-table-pager.ng-scope{flex-direction: column;}
            .page-heading h2{font-size:15px;}
        }
        </style>