body            {font-family:Arial, Helvetica, sans-serif;}
h1              {color:#00549F; font-size:20px;font-weight:bold;font-family:Arial, Helvetica, sans-serif; margin: 0;}
h1 span.ff_heading
				{position: relative; top: -7px;}
h1 span.ff_help:hover
				{cursor: pointer;}
h2              {color:#00549F; font-size:16px;font-weight:bold;font-family:Arial, Helvetica, sans-serif; margin: 0;}
                
div.panel       {border: 2px solid #00549F; -moz-border-radius: 20px; padding:10px 15px; margin-bottom:20px;}
                
div.panel_left  {float: left;}
div.panel_right {float: left; margin-left: 100px; }

/**************************************/  
/* Grid dimensions (px)               */  
/* Max width (4 button cols) = 750    */
/* Buttons               = 120 x 84   */  
/* Button h-spacers      = 90  x 84   */  
/* v-spacer row height   = 36         */  
/* ____________________ ____________  */
/* |                   |            | */
/* | .ff_button        |.ff_spacer  | */
/* | /.ff_spacer       |  _h-mid    | */
/* |                   |            | */
/* |                   |            | */
/* |___________________|____________| */
/* |                   |            | */
/* | .ff_spacer_v-mid  |.ff_spacer  | */
/* |                   |  _vh-mid   | */
/* |___________________|____________| */
/*                                    */
/**************************************/  

div.grid_wrapper                                {width:750px;}
div.grid_wrapper div div                        {width: 120px; text-align: center; font-size: 12px; border:0;  
                                                    color: black; font-family:Arial, Helvetica, sans-serif; float: left;}
div.grid_wrapper div div.ff_spacer_h-mid,       
div.grid_wrapper div div.ff_spacer_vh-mid       {width: 90px;}
div.grid_wrapper div div.ff_button              {background:transparent url('../images/buttons/ff_button.png') no-repeat 0 0;}
div.grid_wrapper div div.ff_button span.icon    {display: block; width: 120px; height: 36px; float: left;}
div.grid_wrapper div div.ff_button:hover        {background:transparent url('../images/buttons/ff_button_over.png') no-repeat 0 0; cursor: pointer;}    
div.grid_wrapper div.gridrow_0,                 
div.grid_wrapper div.gridrow_2,                 
div.grid_wrapper div.gridrow_4,                 
div.grid_wrapper div.gridrow_6,                 
div.grid_wrapper div.gridrow_8,
div.grid_wrapper div.gridrow_10,
div.grid_wrapper div.gridrow_12,
div.grid_wrapper div.gridrow_14                 {width:750px; height:84px;}
div.grid_wrapper div.gridrow_1,                 
div.grid_wrapper div.gridrow_3,                 
div.grid_wrapper div.gridrow_5,                 
div.grid_wrapper div.gridrow_7,
div.grid_wrapper div.gridrow_9,
div.grid_wrapper div.gridrow_11,
div.grid_wrapper div.gridrow_13,
div.grid_wrapper div.gridrow_15                 {width:750px; height:36px;}
div.grid_wrapper div.gridrow_0 div,
div.grid_wrapper div.gridrow_2 div,
div.grid_wrapper div.gridrow_4 div,
div.grid_wrapper div.gridrow_6 div,
div.grid_wrapper div.gridrow_8 div,
div.grid_wrapper div.gridrow_10 div,
div.grid_wrapper div.gridrow_12 div,
div.grid_wrapper div.gridrow_14 div             {height: 76px; padding: 8px 0 0 0;}
div.grid_wrapper div.gridrow_1 div,
div.grid_wrapper div.gridrow_3 div,
div.grid_wrapper div.gridrow_5 div,
div.grid_wrapper div.gridrow_7 div,
div.grid_wrapper div.gridrow_9 div,
div.grid_wrapper div.gridrow_11 div,
div.grid_wrapper div.gridrow_13 div,
div.grid_wrapper div.gridrow_15 div             {height: 36px;}

div.title_bar                                   {width:750px; clear: both; height: 2em;}
div.title_bar_top                               {width:780px;}
div.title_bar_top div.select_panel              {padding-right: 13px;}
div.title_bar h1,                               
div.title_bar h2                                {float: left;}
div.title_bar_top h1                            {margin-left: 15px;}
div.title_bar div.select_panel                  {float: right; width: 40%;}
div.title_bar select                            {float: right; margin-top: 0px;}
                                            
